# ======================================================
# PYTHON
# ======================================================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.env/
.venv/

# ======================================================
# DATASETS (DO NOT UPLOAD)
# ======================================================
dataset/
processed_data/
test_videos/
uploads/

# ======================================================
# CACHE / LOGS
# ======================================================
.cache/
logs/
*.log

# ======================================================
# IDE
# ======================================================
.vscode/
.idea/

# ======================================================
# JUPYTER
# ======================================================
.ipynb_checkpoints/

# ======================================================
# OPERATING SYSTEM
# ======================================================
.DS_Store
Thumbs.db
desktop.ini

# ======================================================
# TRAINING OUTPUTS
# ======================================================
training_curves.png
confusion_matrix.png

# ======================================================
# TEMP FILES
# ======================================================
tmp/
temp/

# ======================================================
# DO NOT IGNORE THESE
# ======================================================
# model.keras
# README.md
# requirements.txt